## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../weather_database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Nikolskoye,RU,59.7035,30.7861,75.09,55,68,3.87,broken clouds
1,1,Fortuna,US,40.5982,-124.1573,61.66,94,0,5.75,clear sky
2,2,Yellowknife,CA,62.4560,-114.3525,55.92,94,100,11.50,light intensity shower rain
3,3,Ushuaia,AR,-54.8000,-68.3000,44.26,65,40,9.22,scattered clouds
4,4,Cherskiy,RU,68.7500,161.3000,53.65,67,72,8.61,broken clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Yellowknife,CA,62.4560,-114.3525,55.92,94,100,11.50,light intensity shower rain
4,4,Cherskiy,RU,68.7500,161.3000,53.65,67,72,8.61,broken clouds
5,5,College,US,64.8569,-147.8028,54.28,92,75,0.00,broken clouds
13,13,Severo-Kurilsk,RU,50.6789,156.1250,59.58,94,47,19.71,scattered clouds
18,18,Airai,TL,-8.9266,125.4092,55.69,82,44,2.89,scattered clouds
34,34,Cape Town,ZA,-33.9258,18.4232,56.10,61,20,5.75,few clouds
35,35,Gisborne,NZ,-38.6533,178.0042,50.20,68,100,13.33,overcast clouds
43,43,Grindavik,IS,63.8424,-22.4338,55.35,93,75,17.27,broken clouds
47,47,Cidreira,BR,-30.1811,-50.2056,54.55,56,100,17.92,overcast clouds
56,56,Villazon,BO,-22.0866,-65.5942,55.20,39,100,17.02,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                101
City                   101
Country                 99
Lat                    101
Lng                    101
Max Temp               101
Humidity               101
Cloudiness             101
Wind Speed             101
Current Description    101
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Yellowknife,CA,62.4560,-114.3525,55.92,94,100,11.50,light intensity shower rain
4,4,Cherskiy,RU,68.7500,161.3000,53.65,67,72,8.61,broken clouds
5,5,College,US,64.8569,-147.8028,54.28,92,75,0.00,broken clouds
13,13,Severo-Kurilsk,RU,50.6789,156.1250,59.58,94,47,19.71,scattered clouds
18,18,Airai,TL,-8.9266,125.4092,55.69,82,44,2.89,scattered clouds
...,...,...,...,...,...,...,...,...,...,...
536,536,Golyshmanovo,RU,56.3979,68.3728,56.35,61,4,8.88,clear sky
539,539,Imbituba,BR,-28.2400,-48.6703,54.39,87,100,19.28,overcast clouds
543,543,Gualeguay,AR,-33.1416,-59.3097,55.17,30,0,9.55,clear sky
551,551,Sydney,AU,-33.8679,151.2073,56.59,92,0,4.61,clear sky
552,552,Patacamaya,BO,-17.2333,-67.9167,54.50,30,71,13.98,broken clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Yellowknife,CA,55.92,light intensity shower rain,62.4560,-114.3525,
4,Cherskiy,RU,53.65,broken clouds,68.7500,161.3000,
5,College,US,54.28,broken clouds,64.8569,-147.8028,
13,Severo-Kurilsk,RU,59.58,scattered clouds,50.6789,156.1250,
18,Airai,TL,55.69,scattered clouds,-8.9266,125.4092,
34,Cape Town,ZA,56.10,few clouds,-33.9258,18.4232,
35,Gisborne,NZ,50.20,overcast clouds,-38.6533,178.0042,
43,Grindavik,IS,55.35,broken clouds,63.8424,-22.4338,
47,Cidreira,BR,54.55,overcast clouds,-30.1811,-50.2056,
56,Villazon,BO,55.20,overcast clouds,-22.0866,-65.5942,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    # 6c. Get latitude and longitude from DataFrame
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df[hotel_df["Hotel Name"]!= '']

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))