## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [7]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Yellowknife,CA,55.92,light intensity shower rain,62.4560,-114.3525,The Explorer Hotel
1,4,Cherskiy,RU,53.65,broken clouds,68.7500,161.3000,Gostinitsa
2,5,College,US,54.28,broken clouds,64.8569,-147.8028,Pike's Waterfront Lodge
3,13,Severo-Kurilsk,RU,59.58,scattered clouds,50.6789,156.1250,Kak Doma
4,34,Cape Town,ZA,56.10,few clouds,-33.9258,18.4232,"Radisson Blu Hotel Waterfront, Cape Town"
...,...,...,...,...,...,...,...,...
86,536,Golyshmanovo,RU,56.35,clear sky,56.3979,68.3728,Mini gostinitsa Paradiz
87,539,Imbituba,BR,54.39,overcast clouds,-28.2400,-48.6703,Praia Hotel Imbituba
88,543,Gualeguay,AR,55.17,clear sky,-33.1416,-59.3097,Faro del Lago
89,551,Sydney,AU,56.59,clear sky,-33.8679,151.2073,The Grace Sydney
90,552,Patacamaya,BO,54.50,broken clouds,-17.2333,-67.9167,RESIDENCIAL ISLA VIGU

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = "College"
vacation_end = "College"
city2 = "Yellowknife"
city3 = "Sydney"
city4 = "Cape Town" 

vacation_start = vacation_df.loc[vacation_df["City"] == vacation_start]
vacation_end = vacation_df.loc[vacation_df["City"] == vacation_end]  
vacation_stop2 = vacation_df.loc[vacation_df["City"] == city2]
vacation_stop3 = vacation_df.loc[vacation_df["City"] == city3] 
vacation_stop4 = vacation_df.loc[vacation_df["City"] == city4]

In [13]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat", "Lng"]].to_numpy()[0]
end = vacation_end[["Lat", "Lng"]].to_numpy()[0]
stop1 = vacation_stop2[["Lat", "Lng"]].to_numpy()[0]
stop2 = vacation_stop3[["Lat", "Lng"]].to_numpy()[0]
stop3 = vacation_stop4[["Lat", "Lng"]].to_numpy()[0]  

print(start)
print(end)
print(stop1)
print(stop2)

[  64.8569 -147.8028]
[  64.8569 -147.8028]
[  62.456  -114.3525]
[-33.8679 151.2073]

In [14]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
travel_route = gmaps.directions_layer(start, end, waypoints=[stop1,stop2,stop3], travel_mode="DRIVING" or "BICYCLING" or "WALKING")
fig.add_layer(travel_route)
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop2, vacation_stop3, vacation_stop4],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,5,College,US,54.28,broken clouds,64.8569,-147.8028,Pike's Waterfront Lodge
1,2,Yellowknife,CA,55.92,light intensity shower rain,62.4560,-114.3525,The Explorer Hotel
2,551,Sydney,AU,56.59,clear sky,-33.8679,151.2073,The Grace Sydney
3,34,Cape Town,ZA,56.10,few clouds,-33.9258,18.4232,"Radisson Blu Hotel Waterfront, Cape Town"

In [22]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]
itinerary_df
# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [23]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))